<div class="interactive-map">
  <p class="interactive-map_togglers">
    <md-button-toggle-group [(ngModel)]="pickedThrows">
      <md-button-toggle class="interactive-map_togglers_toggler-type" [value]="'smoke'" (change)="getData(pickedThrows, pickedSide)">
        <div class="interactive-map_togglers_toggler-type_smoke"></div>
      </md-button-toggle>
      <md-button-toggle class="interactive-map_togglers_toggler-type" [value]="'molotov'" (change)="getData(pickedThrows, pickedSide)">
        <div class="interactive-map_togglers_toggler-type_molotov"></div>
      </md-button-toggle>
    </md-button-toggle-group>
    <md-button-toggle-group [(ngModel)]="pickedSide">
      <md-button-toggle class="interactive-map_togglers_toggler-side" [value]="'t'" (change)="getData(pickedThrows, pickedSide)">
        <div class="interactive-map_togglers_toggler-side_t"></div>
      </md-button-toggle>
      <md-button-toggle class="interactive-map_togglers_toggler-side" [value]="'ct'" (change)="getData(pickedThrows, pickedSide)">
        <div class="interactive-map_togglers_toggler-side_ct"></div>
      </md-button-toggle>
    </md-button-toggle-group>
  </p>
  <div class="interactive-map_container" #mapContainer [ngClass]="map.name">
    <app-throw *ngIf="smokes" [throwsData]="smokes" [height]="mapContainerHeight" [width]="mapContainerWidth"></app-throw>
  </div>
</div>
