<div class="interactive-map">
  <p class="interactive-map_togglers">
    <md-button-toggle-group [(ngModel)]="pickedThrows">
      <md-button-toggle class="interactive-map_togglers_toggler" [value]="'smoke'" (change)="getData()">
        <div class="interactive-map_togglers_toggler_smoke"></div>
      </md-button-toggle>
      <md-button-toggle class="interactive-map_togglers_toggler" [value]="'molotov'" (change)="getData()">
        <div class="interactive-map_togglers_toggler_molotov"></div>
      </md-button-toggle>
    </md-button-toggle-group>
  </p>
  <div class="interactive-map_container" #mapContainer [ngClass]="map.name">
    <app-throw *ngIf="smokes" [throwsData]="smokes" [height]="mapContainerHeight" [width]="mapContainerWidth"></app-throw>
  </div>
</div>
