.throws_icon(@path) {
  width: 80px;
  height: 50px;
  display: inline-block;
  background: url(@path) center no-repeat;
  background-size: contain;
}

.interactive-map {
  &_togglers {
    &_toggler {
      display: inline-block;
      &-type {
        &_smoke {
          .throws_icon('../../assets/img/icons/smoke.png');
        }
        &_molotov {
          .throws_icon('../../assets/img/icons/molotov.png');
        }
      }
      &-side {
        &_t {
          .throws_icon('../../assets/img/icons/t.png');
        }
        &_ct {
          .throws_icon('../../assets/img/icons/ct.png');
        }
      }
    }
  }
  &_container {
    height: 720px;
    width: 720px;
    margin: auto;
    &.mirage {
      background-image: url("/assets/img/maps/mirage.jpg");
    }
    &.cobblestone {
      background-image: url("/assets/img/maps/cobblestone.png");
    }
  }
}
